/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: 'versions.yml'
        ]
    }
}

process {

    withName: 'ORTHOFINDER' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/orthofinder_out" },
            mode: params.publish_dir_mode,
            pattern: 'ortho_f/OrthoFinder/Results_*'
        ]
    }
    withName: 'EGGNOGMAPPER' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/eggnog_out" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: 'TREEGRAFTER' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/treegrafter_out" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: 'ORTHOLOGER' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/orthologer_out" },
            mode: params.publish_dir_mode,
        ]
    }
    withName: 'POST_PROC' {
        ext.args   = ''
        publishDir = [
            path: { "${params.outdir}/final_out" },
            mode: params.publish_dir_mode,
        ]
    }
}	
