// Global default params, used in configs
params {

    // TODO nf-core: Specify your pipeline's command line flags
    // Input options

    input                      = null
    project_id                 = null

    //  Samples
    query_fasta                = null

    // Orthofinder 
    aws_reference_ortho        = "s3://mdibl-rgrindle/orthology_pipe/orthofinder_refs/"

    // Eggnog
    query_fasta_file           = 'shorter.fasta'    // Ex: 'axo_v1.fasta'

    // TreeGrafter 
    sup_data_panther           = "/home/rgrindle/ortho_prediction/panther/treeGrafter1.01_supplemental"
    //sup_data_panther         = "s3://mdibl-rgrindle/orthology_pipe/suplementary_files/panther_db_new/"

    // Orthologer
    formatter_script           = "/home/rgrindle/ortho_prediction/orthologer_default/capitalize_files.py"
    //formatter_script         = "s3://mdibl-rgrindle/orthology_pipe/suplementary_files/" 
    ortho_work                 = "./work"
	
    // Boilerplate options
    outdir                     = null
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false

    // Config options
    config_profile_name        = null
    config_profile_description = null
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null


    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    // Schema validation default options
    validationFailUnrecognisedParams = false
    validationLenientMode            = false
    validationSchemaIgnoreParams     = 'genomes,igenomes_base'
    validationShowHiddenParams       = false
    validate_params                  = true

}


process{
    withName:ORTHOFINDER {
        container = 'orthofinder/rileygrindle:latest'
    }
    withName:EGGNOGMAPPER {
        container = 'eggnogg-mapper/rileygrindle:latest'
        cpus = 6
    }
    withName:TREEGRAFTER {
        container = 'treegrafter/rileygrindle:latest'
        cpus = 6
    }
    withName:ORTHOLOGER {
	container = 'orthologer/rileygrindle:latest'
    }
    withName:POST_PROC {
    container = 'post_proc/rileygrindle:latest'
    }
    withName:PANTHER_API {
    container = 'panther_api_sf/rileygrindle:latest'
    }
}
docker {
    enabled = true
    runOptions = '-u $(id -u)'
}
